:root {
	--bg: #1e1e1e;
}

* {
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	padding: 16px;
	background: #1e1e1e;
	color: #ffffff;
	font-family: system-ui, sans-serif;
}

h1 {
	text-align: center;
	margin-bottom: 16px;
	color: #00bfff;
}

/* ==== LAYOUT ==== */

.vdj_skin {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
	max-width: 1920px;
	max-height: 1080px;
	margin: auto;
	background-color: #2c2c2c;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	justify-content: space-between;
	margin-bottom: 20px;
}

/* ==== BROWSER ==== */

.vdj_browser {
	display: flex;
	/*grid-template-columns: 1fr 1fr 1fr 1fr;*/
	gap: 16px;
	max-width: 1920px;
	max-height: 400px;
	margin: auto;
	background-color: #2c2c2c;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.vdj_browser_menu1,
.vdj_browser_menu2 {
	width: auto;
	background-color: #3b3b3b;
	padding: 10px;
	border-radius: 6px;
}

.vdj_browser_left,
.vdj_browser_middle {
	flex: 1;
	max-width: 400px;
	height: 300px;
	background-color: #3b3b3b;
	padding: 10px;
	border-radius: 6px;
	overflow-y: auto;
}

.vdj_browser_text {
	width: auto;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #444;
	background-color: rgb(200, 200, 200);
	font-family: monospace;
	font-size: 1em;
}


/* ==== DECKS ==== */

.vdj_left_deck,
.vdj_right_deck {
	flex: 1;
	max-width: 400px;
	height: 300px;
	background-color: #3b3b3b;
	padding: 10px;
	border-radius: 6px;
	overflow-y: auto;
}


/* ==== MIXER ==== */

.vdj_mixer {
	flex: 1;
	display: flex;
	max-width: 400px;
	background-color: #3b3b3b;
	padding: 10px;
	border-radius: 6px;
	position: relative;
	overflow-y: auto;
}

.vdj_left_mixer,
.vdj_right_mixer {
	justify-content: center;
	align-items: center;
	width: auto;
	height: 130px;
	transform: translateY(+90%);
}

.vdj_bottom_mixer {
	position: absolute;
	justify-content: center;
	align-items: center;
	bottom: 10px;
	left: 30%;
	width: auto;
}


/* ==== BUTTONS ==== */

.vdj_button {
	position: relative;
	display: inline-block;
	color: #FFFFFF;
	width: auto;
	height: 38px;
	cursor: pointer;
	background: #171719;
	text-align: center;
	line-height: 38px;
	text-decoration: none;
}

	.vdj_button:hover {
		color: #FFFFFF;
		text-decoration: none;
		background: #444446;
	}

.vdj_button_svg {
	position: relative;
	display: block;
	width: 26px;
	height: 30px;
	cursor: pointer;
	background: #171719;
	fill: #FFFFFF;
}

	.vdj_button_svg:hover {
		color: #FFFFFF;
		background: #444446;
	}


.vdj_buttonV {
	position: relative;
	display: block; /* Makes buttons stack vertically */
	color: #FFFFFF;
	width: auto;
	height: 38px;
	cursor: pointer;
	background-color: #171719;
	text-align: center;
	line-height: 38px;
}
	.vdj_buttonV:hover {
		color: #FFFFFF;
		text-decoration: none;
		background: #444446;
	}


/* ==== HORIZONTAL SLIDER ==== */

.vdj_sliderH {
	-webkit-appearance: none;
	width: 160px;
	height: 20px;
	background: #3b3b3b;
	outline: none;
	opacity: 0.7;
	/*padding: 0 8px;*/
	/*margin: 8px 0;*/
}

	.vdj_sliderH:hover {
		opacity: 1;
	}

	.vdj_sliderH::-webkit-slider-runnable-track {
		width: 100%;
		height: 5px;
		background: #000000;
		border-radius: 3px;
		box-shadow: inset 0 1px 2px #000000;
	}

	.vdj_sliderH::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 30px;
		background: #FFFFFA;
		border-radius: 4px;
		border: 1px solid #171719;
		transform: translateY(-8px);
		margin-top: -4px;
		cursor: pointer;
	}

/* ==== VERTICAL SLIDER ==== */

.vdj_sliderV {
	-webkit-appearance: none;
	width: 160px;
	height: 20px;
	background: #3b3b3b;
	outline: none;
	opacity: 0.7;
	transform: rotate(-90deg);
}

	.vdj_sliderV:hover {
		opacity: 1;
	}

	.vdj_sliderV::-webkit-slider-runnable-track {
		width: 100%;
		height: 5px;
		background: #000000;
		border-radius: 3px;
		box-shadow: inset 0 1px 2px #000000;
	}

	.vdj_sliderV::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 30px;
		background: #FFFFFA;
		border-radius: 4px;
		border: 1px solid #171719;
		transform: translateY(-8px);
		margin-top: -4px;
		cursor: pointer;
	}


/* ==== RESULTS VDJ_API ==== */

.vdj_result {
	display: flex;
	margin: auto;
	align-items: center;
	gap: 8px;
}

.vdj_result_text {
	width: auto;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #444;
	background-color: rgb(200, 200, 200);
	font-family: monospace;
	font-size: 1em;
}

/* ==== MOBILE ==== */
@media (max-width: 900px) {
	.vdj-skin {
		grid-template-columns: 1fr;
	}
}